<div style="background-image: url('<%= image_path 'Fond_ParticipantsParc.png' %>');   background-size: cover !important;
  background-position: center;">
  <div class="navbar-wagon hidden-xs hidden-sm"">
  <!-- Logo -->
<%= link_to root_path, class: "navbar-wagon-brand" do %>

  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
    <!-- <a data-toggle="modal" data-target="#parents" class="navbar-wagon-item navbar-wagon-link">PARENTS</a> -->

    <!-- Text link -->
    <!-- a href="http://www.iciela.org/wp/benevoles/" class="navbar-wagon-item navbar-wagon-link">BÉNÉVOLES</a>

    <!-- Text link -->
  <!--<a href="https://drive.google.com/file/d/1hYVhfflDKkHIvzjVBAy4_cW-oAq7DyvV/view?usp=sharing" class="navbar-wagon-item navbar-wagon-link">EMPLOIS</a>

    <!-- Text link -->
       <a href="../pages/ete2018" class="navbar-wagon-item navbar-wagon-link">EDITION 2018</a>
    <a href="http://www.iciela.org/wp/mentors-benevoles/" data-toggle="modal" class="navbar-wagon-item navbar-wagon-link">MENTORS</a>
     <a href="https://docs.google.com/forms/d/e/1FAIpQLSctMJrAXMbql1kCCpkRgkEovlLwazGZjgi6ZW-xDqvvqhTagA/viewform?usp=sf_link" class="navbar-wagon-item navbar-wagon-button">JE M'INSCRIS</a>
    <a href="http://www.iciela.org/wp/mentors-benevoles/" data-toggle="modal" class="navbar-wagon-item navbar-wagon-link"></a>

  </div>
  <!-- Dropdown appearing on mobile only -->
  <!--
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Inscription</a></li>
        <li><a href="#">Parents</a></li>
        <li><a href="#">Bénévoles</a></li>
        <li><a href="#">Partenaires</a></li>
      </ul>
    </div>
  </div>
    -->
</div>
  <div class="banner">
<div class="col 12">
<div class="banner-content">
  <div class="logo-grand hidden-md hidden-lg">
    <%= image_tag("logo_grand.png", width:'250', alt:"Montréal à notre image") %>
  </div>
    <div class="logo-grand hidden-xs hidden-sm">
    <%= image_tag("logo_grand.png", width:'350', alt:"Montréal à notre image") %>
  </div>
 <div class="navbar-wagon-right hidden-xs hidden-sm hidden-md">
    <h1>Programme jeunesse en leadership interculturel</h1>
 </div>
  <div class="navbar-wagon-right hidden-lg">
    <h5>Programme jeunesse en leadership interculturel</h5>
 </div>
  <!--
  <div class="inscription">
    <a a href="https://docs.google.com/forms/d/e/1FAIpQLSctMJrAXMbql1kCCpkRgkEovlLwazGZjgi6ZW-xDqvvqhTagA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">INSCRIPTION</a>
  </div>
    -->
  <div class="col m12 hidden-xs hidden-sm">
    <h3><br>Développe tes compétences <b>citoyennes</b><br>et <b>interculturelles</b> pour agir et mettre <br>en valeur la <b>diversité  Montréal!</b></h3></div>
    <div class=" col m12 hidden-xs hidden-sm" align="center">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSctMJrAXMbql1kCCpkRgkEovlLwazGZjgi6ZW-xDqvvqhTagA/viewform?usp=sf_link" class="navbar-wagon-button" style="align:center">MAI À NOVEMBRE 2019</a>
</div>
   <div class="navbar-wagon-right col m12 hidden-md hidden-lg">
    <h3>Développe tes<br> compétences <b>citoyennes</b><br>et <b>interculturelles</b> pour mettre en valeur <br>la <b>diversité de Montréal!</b></h3></div>
    <div class="col m12 hidden-md hidden-lg">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSctMJrAXMbql1kCCpkRgkEovlLwazGZjgi6ZW-xDqvvqhTagA/viewform?usp=sf_link" class="navbar-wagon-item navbar-wagon-button">MAI À NOVEMBRE 2019</a>
</div>
<!--
    <h6>Septembre à décembre 2018</h6>
 </div>

    <h2>C'est gratuit!</h2>
  -->
</div>
</div>
<div class="col m12 hidden-xs hidden-sm">
<section id="section10" class="demo">
  <a href="#thanks"><span></span></a>
</section>
</div>

</div>





